.posts {
  padding: 30px 80px;

  .container {
    max-width: 1215px;
    margin: 0 auto;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

