.wrap {
  padding: 30px 80px;

  .albums {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

